<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <h1 align="center">Coldest Cities</h1>
        <fusioncharts
          [id]="id1"
          [width]="width1"
          [height]="height1"
          [type]="type1"
          [dataFormat]="dataFormat1"
          [dataSource]="dataSource1"
        ></fusioncharts>
      </div>
      <mat-form-field>
        <mat-select placeholder="Select Year" [(value)]="year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select Month"  [(value)]="month">
          <mat-option *ngFor="let month of months" [value]="month">
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-2">

    </div>
    <div class="col-md-5">
      <div class="row">
        <h1 align="center">Hottest Cities</h1>
        <fusioncharts
          [id]="id2"
          [width]="width2"
          [height]="height2"
          [type]="type2"
          [dataFormat]="dataFormat2"
          [dataSource]="dataSource2"
        ></fusioncharts>
      </div>
      <button mat-raised-button color="primary" type="button" class="submit"
              (click)="search()"
      >Submit</button>
      <button mat-raised-button color="primary" type="button" routerLink="../climate"
      >Go Back</button>
    </div>
 </div>

</div>

