<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <h1 align="center">{{description}} weather in {{airport.nativeElement.value}}</h1>
        <fusioncharts
          [id]="id1"
          [width]="width1"
          [height]="height1"
          [type]="type1"
          [dataFormat]="dataFormat1"
          [dataSource]="dataSource1"
        ></fusioncharts>
      </div>
        <mat-form-field>
          <input type="text" placeholder="Airport" matInput [formControl]="myControl" [matAutocomplete]="auto" #Airport>
          <mat-error *ngIf="myControl.invalid">You must enter a value</mat-error>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
            >{{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select description"  [(value)]="description">
          <mat-option *ngFor="let description of descriptions" [value]="description">
            {{description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-2">
    </div>
    <div class="col-md-5">
      <div class="row">
        <h1 align="center">snow weather in Indianapolis International Airport</h1>
        <fusioncharts
          [id]="id2"
          [width]="width2"
          [height]="height2"
          [type]="type2"
          [dataFormat]="dataFormat2"
          [dataSource]="dataSource2"
        ></fusioncharts>
      </div>
      <button mat-raised-button color="primary" type="button" class="submit"
              (click)="search()"
      >Submit</button>
      <button mat-raised-button color="primary" type="button" routerLink="../"
      >Go Back</button>
    </div>
  </div>

</div>

