<div class = "container" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column"
fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
fxLayoutAlign.gt-sm="center center" fxFlexAlign="center center"
     style="height:50em;margin-left:-0.02em;margin-top:-0.1em">

<br>
<br>
<br>
  <mat-toolbar color="accent" theme="light">
    <mat-toolbar-row>
      <span>Reset Password</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card>
      <form>
          <mat-form-field>
              <input matInput placeholder="UserName" [formControl]="usernameControl" type="text" id="username" #username required>
              <mat-error *ngIf="usernameControl.invalid">You must enter a value</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Old Password" [formControl]="oldpasswordControl" type="text" id="oldpassword"  #oldpassword required>
                <mat-error *ngIf="oldpasswordControl.invalid">You must enter a value</mat-error>
              </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="New Password" [formControl]="passwordControl" type="text" id="newpassword"  #newpassword required>
              <mat-error *ngIf="passwordControl.invalid">You must enter a value</mat-error>
            </mat-form-field>

          <div style="text-align:center;">
            <button mat-button color="primary" type="button" class="reset" (click) = "resetPassword(username.value,newpassword.value, oldpassword.value)" routerLink="../">Reset Password</button>
            <button mat-button color="primary" type="button" class="sign in" routerLink="../" >Sign In</button>

          </div>

      </form>
  </mat-card>
</div>
