<div class = "container" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column"
fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
fxLayoutAlign.gt-sm="center center" fxFlexAlign="center center"
style="height:55em;margin-left:-0.02em;margin-top:-0.1em">

<br>
<br>
<br>
<mat-toolbar color="accent" theme="light">
  <mat-toolbar-row>

    <span>Delete Account</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>

    <form>

        <mat-form-field>
            <input matInput placeholder="UserName" [formControl]="usernameControl" type="text" id="username" #username required>
            <mat-error *ngIf="usernameControl.invalid">You must enter a value</mat-error>
        </mat-form-field>

        <div style="text-align:center;">
          <button mat-button color="primary" type="submit" class="deleteuser" (click) = "deleteUser(username.value)" [routerLink]="['../']">Delete Account</button>
          <button mat-button color="primary" type="button" class="cancel" [routerLink]="['../']">Cancel</button>
        </div>

    </form>

</mat-card>

</div>
