.container {
  top: 0;
  width: 100%;
  margin-top: 50px;
}
form{
  position: relative;
  top : 30%;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

