<mat-toolbar color="accent" theme="light">
    <mat-toolbar-row>
      <span>Sign Up</span>
    </mat-toolbar-row>
</mat-toolbar>
  
<mat-card>

  <form>
    
      <mat-form-field>
          <input matInput placeholder="UserName" type="text" id="username" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Email" type="text" id="email" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Password" type="text" id="password" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Conform Password" type="text" id="conformPassword" required>
      </mat-form-field>
  
      <div style="text-align:center;">
        <button mat-button color="primary" type="submit" class="register">Register</button>
        <button mat-button color="primary" type="button" class="sign in" [routerLink]="['../']">Sign In</button>
      </div>  

  </form>

</mat-card>