<div class = "container" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column"
     fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
     fxLayoutAlign.gt-sm="center center" fxFlexAlign="center center"
     style="height:50em;margin-left:-0.02em;margin-top:-0.1em">

  <form>
    <mat-form-field>
      <input matInput placeholder="From City or Airport" name="start" id="fromplace"
             [(ngModel)]="startdestination" (change)="changestartinput()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="To City or Airport" name="destination" id="toplace"
             [(ngModel)]="enddestination" (change)="changeendinput()">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker1" placeholder="Choose a date" disabled
             [value]="date" (dateInput)="date = $event.value"
      >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <br>
    <button  mat-button color="primary" type="submit" class="search" [routerLink]="'list'"
    (click)="onsubmit()" [disabled]="autocheck()" >Search</button>
    &nbsp;  &nbsp; &nbsp;
    <button mat-button color="primary" type="button" class="reset"
            (click)="onreset()">Reset</button>
  </form>
</div>
