.container {
  background-image: url('/assets/climatestartbg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
  top: 0;
  width: 100%;

}
form{
  position: relative;
  top : 15%;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.button{


}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
/*.example-container {*/
  /*background-image: url('/assets/HPbg.jpeg');*/
  /*background-repeat: no-repeat;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*min-width: 300px;*/
/*}*/

/*.mat-table {*/
  /*overflow: auto;*/
  /*max-height: 650px;*/
/*}*/
/*.mat-table-cell.mat-sort-header-sorted{*/
  /*color: black;*/
/*}*/
/*.mat-form-field{*/
  /*font-size: 15px;*/
  /*width: 100%;*/
/*}*/
