<p>start from:{{startdate}} to {{enddate}} at  {{city}}</p>
<button class="btn btn-primary" (click)="onshow()">Show</button>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="locationID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> locationID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.locationID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> city </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <mat-header-cell *matHeaderCellDef mat-sort-header> latitude </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.latitude}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="longitude">
      <mat-header-cell *matHeaderCellDef mat-sort-header> longitude </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.longitude}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <mat-header-cell *matHeaderCellDef mat-sort-header> temperature </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.temperature}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="humidity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> humidity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.humidity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pressure">
      <mat-header-cell *matHeaderCellDef mat-sort-header> pressure </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pressure}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="windspeed">
      <mat-header-cell *matHeaderCellDef mat-sort-header> windspeed </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.windspeed}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> desc </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20 , 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>

